@model IEnumerable<MedicalQuestionsProject.DomainModels.Question>

@{
    ViewBag.Title = "Manager Questions";
}


<div class="w3-container" style="padding:10px 16px">
    <h2>All Questions in System</h2>
    <p>
        <a href="/adminquestion/create" class="btn btn-outline-primary">Add New Question</a>
    </p>
    <table class="table table-hover table-primary" ">
        <tr class="thead-dark">
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionDateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotesCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswersCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewsCount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionDateAndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VotesCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnswersCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewsCount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.QuestionID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.QuestionID })
                </td>
            </tr>
        }

    </table>
</div>