@model MedicalQuestionsProject.ViewModels.QuestionViewModel

@{
    ViewBag.Title = "View Question";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="~/Scripts/ViewQuestionsSheet1.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

   
    <!--   <script src="js/myJavaScript.js"></script> -->

</head>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="w3-container" style="padding:30px 12px">
                <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4 w3-card w3-margin-bottom">
                    <!-- Vote Header -->
                    <div class="d-flex flex-column-reverse flex-grow-0 align-items-center votings ml-1">
                        <i class="fa fa-sort-up fa-2x hit-voting"></i>@Model.VotesCount<i class="fa fa-sort-down fa-2x hit-voting"></i>
                    </div>
                    <!-- QuesionsName Header -->
                    <div class="form-group form-row">
                        <div class="col-sm-10 offset-sm-2">
                            <div class="d-flex flex-column ml-3">
                                <div class="d-flex flex-row post-title">
                                    <h2>@Html.Raw(Model.QuestionName)</h2>
                                    <div class="col-sm-2" style="font-size: 22px">
                                        <span class="text-info ml-2">
                                            @if (Convert.ToInt32(Session["CurrentUserID"]) != Model.UserID)
                                            {
                                                @:(@Model.User.Name)
                                            }
                                            else
                                            {
                                                @: (you)
                                            }
                                        </span>
                                    </div>
                                </div>
                                <!-- Category and datetime Header -->
                                <div class="d-flex flex-row align-items-center align-content-center post-title">
                                    <span class="badge badge-info mr-3">@Model.Category.CategoryName</span>
                                    <i class="mr-1 fa fa-eye" aria-hidden="true"> </i><span class="mr-2 badge badge-pill badge-success col-2">@Model.ViewsCount&nbsp;</span>
                                    <i class='mr-2 far fa-calendar-alt' style='font-size:24px'></i><span>@Model.QuestionDateAndTime</span>
                                </div>
                            </div>
                            @if (Model.AnswersCount == 0)
                            {
                                <p class="text-danger">No answers yet!</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="coment-bottom bg-white p-2 px-4">
                @for (int i = 0; i < Model.Answers.Count; i++)
                {
                    <div class="form-group form-row">
                        <div class="col-sm-2">

                            <!-- Up Dow vote -->
                            @if (Session["CurrentUserName"] != null)
                            {
                                if (Model.Answers[i].CurrentUserVoteType == 1)
                                {
                                    <img src="~/Images/up-color.png" class="btnUpVote" style="cursor:pointer" width="24px" data-answerid="@Model.Answers[i].AnswerID" />
                                    <span class="badge badge-secondary col-2 votescount">@Model.Answers[i].VotesCount</span>
                                    <img src="~/Images/down-empty.png" class="btnDownVote" style="cursor:pointer" width="24px" data-answerid="@Model.Answers[i].AnswerID" />
                                }

                                else if (Model.Answers[i].CurrentUserVoteType == -1)
                                {
                                    <img src="~/Images/up-empty.png" class="btnUpVote" style="cursor:pointer" width="24px" data-answerid="@Model.Answers[i].AnswerID" />
                                    <span class="badge badge-secondary col-2 votescount">@Model.Answers[i].VotesCount</span>
                                    <img src="~/Images/down-color.png" class="btnDownVote" style="cursor:pointer" width="24px" data-answerid="@Model.Answers[i].AnswerID" />
                                }
                                else
                                {
                                    <img src="~/Images/up-empty.png" class="btnUpVote" style="cursor:pointer" width="24px" data-answerid="@Model.Answers[i].AnswerID" />
                                    <span class="badge badge-secondary col-2 votescount">@Model.Answers[i].VotesCount</span>
                                    <img src="~/Images/down-empty.png" class="btnDownVote" style="cursor:pointer" width="24px" data-answerid="@Model.Answers[i].AnswerID" />

                                }

                                if (Convert.ToInt32(Session["CurrentUserID"]) == Model.UserID)
                                {
                                    if (Model.Istrue)
                                    {
                                        if (Model.Answers[i].Istrue)
                                        {
                                            <a href="/questions/UnCheckRight?answerId=@Model.Answers[i].AnswerID&questionId=@Model.QuestionID">❌</a>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.UserID == Convert.ToInt32(Session["CurrentUserID"]))
                                        {

                                            <a href="/questions/CheckRight?answerId=@Model.Answers[i].AnswerID&questionId=@Model.QuestionID">✅</a>
                                        }
                                    }


                                }
                                <!-- Check Right -->
                                if (Convert.ToInt32(Session["CurrentUserID"]) == Model.Answers[i].UserID)
                                {
                                    if (Model.Istrue)
                                    {
                                        if (Model.Answers[i].Istrue)
                                        {
                                            <span>✅ </span>
                                        }
                                    }
                                }

                                if (Convert.ToInt32(Session["CurrentUserID"]) != Model.Answers[i].UserID)
                                {
                                    if (Model.Istrue)
                                    {
                                        if (Model.Answers[i].Istrue)
                                        {
                                            <span>✅ </span>
                                        }
                                    }
                                }


                            }
                        </div>

                        <!-- Edit and delete answer -->
                        <div class="col-sm-7">
                            @if (Convert.ToInt32(Session["CurrentUserID"]) == Model.Answers[i].UserID)
                            {
                                <button class="btn btn-info editbutton"><i class='fas fa-edit'></i></button>
                                <a href="/questions/delete?commentId=@Model.Answers[i].AnswerID&questionId=@Model.QuestionID" class="btn btn-info"><i class='fas fa-trash-alt'></i></a>

                                <form class="needs-validation hidden" novalidate="novalidate" action="/questions/editanswer" method="post" id="editForm">
                                    <div class="form-group form-row">
                                        <div class="col-sm-12">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="AnswerID" value="@Model.Answers[i].AnswerID" />
                                            <input type="hidden" name="QuestionID" value="@Model.Answers[i].QuestionID" />
                                            <div class="form-row">
                                                <div class="form-group col-sm-12">
                                                    <textarea class="form-control" id="txtAnswer" placeholder="Enter answer" name="AnswerText" required="required">@Html.Raw(Model.Answers[i].AnswerText)</textarea>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Please enter answer.
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary" data-formid="editForm">Update Answer</button>
                                            <div class="text-danger">
                                                @Html.ValidationSummary()
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                            <!-- Text answer -->
                            <div class="card p-4 w3-card w3-margin-bottom">
                                <div class="commented-section mt-2">
                                    <div class="commented-section mt-2">
                                        <div class="d-flex flex-row align-items-center commented-user">
                                            <h5 class="mr-3">@Model.Answers[i].User.Name</h5><span class="dot mb-1"></span><span class="mb-1 ml-2">@Model.Answers[i].AnswerDateAndTime</span>
                                        </div>
                                        @*<div class="col-sm-12 comment-text-sm"><span>@Model.Answers[i].AnswerText</span></div>*@
                                        @Html.Raw(Model.Answers[i].AnswerText)

                                    </div>
                                </div>
                            </div>

                            <!-- Text comment -->
                            @if (Model.Answers[i].Comments.Count > 0)
                            {
                                for (int j = 0; j < Model.Answers[i].Comments.Count; j++)
                                {<div class="row" style="display: flex; justify-content: flex-end;">
                                        <div class="col-sm-11 d-flex">
                                            <div class="commented-section mt-2">
                                                <div class="d-flex flex-row align-items-center commented-user">
                                                    <h5 class="mr-3">@Model.Answers[i].Comments[j].User.Name</h5><span class="dot mb-1"></span><span class="mb-1 ml-2">@Model.Answers[i].Comments[j].CommentDateAndTime</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-11">
                                            @*<p class="comment-text-sm">@Model.Answers[i].Comments[j].CommentText</p>*@
                                            @Html.Raw(Model.Answers[i].Comments[j].CommentText)
                                        </div>
                                    </div>
                                    <hr />
                                }

                            }

                            <!-- Add comment -->
                            <button class="btn btn-info editbutton"><i class='fas fa-comment-dots'></i></button>
                            <form class="needs-validation hidden" novalidate="novalidate" action="/questions/addcomment" method="post" id="newForm">
                                <div class="form-group form-row">
                                    <div class="col-sm-12">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="QuestionID" value="@Model.QuestionID" />
                                        <input type="hidden" name="AnswerID" value="@Model.Answers[i].AnswerID" />
                                        <input type="hidden" name="UserID" value="@Convert.ToInt32(Session["CurrentUserID"])" />
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <textarea class="form-control" id="txtcomment" placeholder="Enter comment" name="CommentText" required="required" data-pattern="[A-z0-9 ,-]{1,}"></textarea>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please enter comment.
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary" data-formid="newForm">Add Comment</button>
                                        <div class="text-danger">
                                            @Html.ValidationSummary()
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                }
                <!-- Add answer -->
                @if (Session["CurrentUsername"] != null)
                {
                    <form class="needs-validation" novalidate="novalidate" action="/questions/addanswer" method="post" id="newForm">
                        <div class="form-group form-row">
                            <div class="col-sm-12">
                                <h4>Add your answer</h4>
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="QuestionID" value="@Model.QuestionID" />
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <textarea class="form-control" id="summernote" placeholder="Enter answer" name="AnswerText" required="required" data-pattern="[A-z0-9 ,-]{1,}"></textarea>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter answer.
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary" data-formid="newForm">Add Answer</button>
                                <div class="text-danger">
                                    @Html.ValidationSummary()
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

<div class="basic-list-card-v2 pb-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>
                    Detailed information about the disease
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <ul class="basic-list-card-v2-list m-0 p-0">
                    <li class="basic-list-card-v2-list-item">
                        <a class="basic-list-card-v2-list-item-link" href="https://www.webmd.com/skin-problems-and-treatments/guide/fungal-infections-skin#:~:text=A%20fungal%20infection%2C%20also%20called,problems%20like%20rashes%20or%20bumps.">
                            Skin Fungus
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="basic-list-card-v2-list m-0 p-0">
                    <li class="basic-list-card-v2-list-item">
                        <a class="basic-list-card-v2-list-item-link" href="https://www.cdc.gov/measles/hcp/index.html#:~:text=Measles%20is%20an%20acute%20viral,after%20a%20person%20is%20exposed.">
                            Measles
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="basic-list-card-v2-list m-0 p-0">
                    <li class="basic-list-card-v2-list-item">
                        <a class="basic-list-card-v2-list-item-link" href="https://www.healthgrades.com/right-care/back-pain/backache#:~:text=Backache%20usually%20refers%20to%20pain,categorized%20as%20acute%20or%20chronic.">
                            Backache
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="basic-list-card-v2-list m-0 p-0">
                    <li class="basic-list-card-v2-list-item">
                        <a class="basic-list-card-v2-list-item-link" href="https://www.mayoclinic.org/symptoms/headache/basics/definition/sym-20050800#:~:text=Headache%20is%20pain%20in%20any,sensation%20or%20a%20dull%20ache.">
                            Headache
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="basic-list-card-v2-list m-0 p-0">
                    <li class="basic-list-card-v2-list-item">
                        <a class="basic-list-card-v2-list-item-link" href="https://www.mountsinai.org/health-library/symptoms/abdominal-pain">
                            Stomachache
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="basic-list-card-v2-list m-0 p-0">
                    <li class="basic-list-card-v2-list-item">
                        <a class="basic-list-card-v2-list-item-link" href="https://www.mayoclinic.org/diseases-conditions/sore-throat/symptoms-causes/syc-20351635#:~:text=A%20sore%20throat%20is%20pain,a%20cold%20or%20the%20flu.">
                            Sore Throat
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="basic-list-card-v2-list m-0 p-0">
                    <li class="basic-list-card-v2-list-item">
                        <a class="basic-list-card-v2-list-item-link" href="https://www.mayoclinic.org/symptoms/cough/basics/definition/sym-20050846#:~:text=A%20cough%20is%20your%20body's,cough%20is%20normal%20and%20healthy.">
                            Cough
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="basic-list-card-v2-list m-0 p-0">
                    <li class="basic-list-card-v2-list-item">
                        <a class="basic-list-card-v2-list-item-link" href="https://www.mayoclinic.org/diseases-conditions/common-cold/symptoms-causes/syc-20351605">
                            Cold
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="basic-list-card-v2-list m-0 p-0">
                    <li class="basic-list-card-v2-list-item">
                        <a class="basic-list-card-v2-list-item-link" href="https://www.mayoclinic.org/symptoms/runny-nose/basics/definition/sym-20050640#:~:text=A%20runny%20nose%20is%20excess,refer%20to%20a%20runny%20nose.">
                            Runny Nose
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="basic-list-card-v2-list m-0 p-0">
                    <li class="basic-list-card-v2-list-item">
                        <a class="basic-list-card-v2-list-item-link" href="https://www.cdc.gov/flu/about/keyfacts.htm#:~:text=Flu%20is%20a%20contagious%20respiratory,times%20can%20lead%20to%20death.">
                            Flu
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="basic-list-card-v2-list m-0 p-0">
                    <li class="basic-list-card-v2-list-item">
                        <a class="basic-list-card-v2-list-item-link" href="https://www.mayoclinic.org/diseases-conditions/fever/symptoms-causes/syc-20352759#:~:text=Overview,a%20fever%20may%20be%20uncomfortable.">
                            Fever
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
    <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>

</footer>





<script>
    $(".btnUpVote").click(function ()
    {
        var UpBtn = $(this);
        var DownBtn = UpBtn.parent().find(".btnDownVote");
        if (UpBtn.attr("src") == "/Images/up-empty.png")
        {
            var value;
            if (UpBtn.attr("src") == "/Images/up-empty.png" && DownBtn.attr("src") == "/Images/down-empty.png")
                value = 1;
            else
                value = 2;

            $.ajax({
                url: "/api/questions?answerid=" + UpBtn.attr("data-answerid") + "&value=" + value + "&UserID=@Session["CurrentUserID"]", type: "POST", success: function ()
                {
                    UpBtn.parent().find(".votescount").text(parseInt(UpBtn.parent().find(".votescount").text()) + value);
                    UpBtn.attr("src", "/Images/up-color.png");
                    DownBtn.attr("src", "/Images/down-empty.png");
                }
            });
        }
    });

    $(".btnDownVote").click(function ()
    {
        var DownBtn = $(this);
        var UpBtn = DownBtn.parent().find(".btnUpVote");
        if (DownBtn.attr("src") == "/Images/down-empty.png")
        {
            var value;
            if (UpBtn.attr("src") == "/Images/up-empty.png" && DownBtn.attr("src") == "/Images/down-empty.png")
                value = -1;
            else
                value = -2;

            $.ajax({
                url: "/api/questions?answerid=" + UpBtn.attr("data-answerid") + "&value=" + value + "&UserID=@Session["CurrentUserID"]", type: "POST", success: function ()
                {
                    DownBtn.parent().find(".votescount").text(parseInt(DownBtn.parent().find(".votescount").text()) + value);
                    DownBtn.attr("src", "/Images/down-color.png");
                    UpBtn.attr("src", "/Images/up-empty.png");
                }
            });
        }
    });
</script>

<script>
    $(".editbutton").click(function () {
        $(this).parent().find(".needs-validation").show();
        $(this).hide();
        $(this).parent().find(".answer").hide();
    });
</script>

<script>
    $('#summernote').summernote({
        placeholder: 'Enter Answer',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>




